html {
    height: 100%;
    font-family: sans-serif;
}

body {
    color: white;
    min-height: 100%;
    margin: 0;
    background-image: url("Rainbow-Vortex.svg");
    background-size: cover;
    background-attachment: fixed;
}

body > header {
    position: fixed;
    top: 0;
}

.button {
    margin: 0;
    padding: 0;
    border-width: 0;
    border: none;
    outline: none;
    transition-duration: 0.4s;
    cursor: pointer;
    color: white;
    font-family: sans-serif;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.button:active {
    transition-duration: 0.05s;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.9);
}

#page-container {
    min-height: 100vh;
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 80%;
}

#main-container {
    height: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    grid-template-rows: 15% 85%;
}

.low-border-radius {
    border-radius: 3px;
}

.high-border-radius {
    border-radius: 10px;
}

.vlow-opaque-container {
    background-color: rgba(255, 255, 255, 0.15);
}

.low-opaque-container {
    background-color: rgba(255, 255, 255, 0.25);
}

.medium-opaque-container {
    background-color: rgba(255, 255, 255, 0.4);
}

#inp-sec {
    grid-column: 1 / span 4;
    height: auto;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0;
}

#inp {
    display: flex;
    justify-content: space-between;
    height: 70%;
}

#inp-lab {
    padding-top: 0.7%;
    width: auto;
    padding-left: 0.5%;
}

#task-inp {
    flex-grow: 0.7;
    text-size-adjust: 30;
    height: 100%;
    width: 84%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-width: 0;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

#add-button {
    width: 3%;
    height: 100%;
}

header#main-header {
    padding-left: 1%;
}